<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading text-center">登录</h2>
    <label for="inputEmail" class="sr-only">邮箱</label>
    <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>
</div>